#judul{
	text-align: center;
	color: red;
}
#canvas{
	  margin: auto;
	  display: block;
	  box-shadow: #ddd 0 0 3px 2px;
	  background-color: #eee;
	}

body{
	  text-align: center;
	  font-family:cursive;
	  background-image: url(bg.png);
	  background-size: 34%;
	  background-repeat: repeat-x;
	  background-position: center;

	}

.anggota{
	text-align: left;
}
.list{
	text-align: left;
}
#button{
	  border-radius: 50%;
	  color: white;
	  border: 0;
	  background-color: cornflowerblue;
	  margin-left: 10px;
	}
